.heart {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    transform: rotate(45deg) translate(10px, 10px);
    animation: ani 1s ease-in-out infinite;
}

/*Pszeudo elem létrehozása (Nem kell külön animálni)*/

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    top: 0;
    left: -50px;
}

#center {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

@keyframes ani {

    0% {
        transform: rotate(45deg) translate(10px, 10px) scale(1.0);
    }

    25% {
        transform: rotate(45deg) translate(10px, 10px) scale(1.0);
    }

    30% {
        transform: rotate(45deg) translate(10px, 10px) scale(2.0);
    }

    50% {
        transform: rotate(45deg) translate(10px, 10px) scale(1.2);
    }

    70% {
        transform: rotate(45deg) translate(10px, 10px) scale(2.0);
    }

    100% {
        transform: rotate(45deg) translate(10px, 10px) scale(1.0);
    }
}
