.gallery img {
    width: 180px;
    border: 2px solid #ccc;
    transition: 300ms;
    opacity: 0.7;
}
.gallery img:hover
{
    border: 2px solid #180000;
    opacity: 1.0;
}
figure.item 
{
    float: left;
    width: 180px;
}
figure
{
    margin: 25px;
}
a img
{
    padding: 3px;
}
.caption
{
    display: block;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}
