header,
nav,
section,
article,
footer {
    border: 5px dashed pink;
}
body
{
    background:url(../images/lilakep.png) ;
}

header {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: plum;
}

nav {
    width: 10%;
    min-width: 200px;
    height: 1100px;
    float: left;
    margin: 0 30px 0 30px;
    background-color:rgba(255, 255, 255, 0.5);
}

#banner-content {
    text-align: center;
    margin-top: 50px;
}

#banner-content a 
{
    text-decoration: none;
    color: whitesmoke;
}
#banner-conent a:hover 
{
    text-decoration: underline;
    color: peru;
}
#logo
{
    float: left;
    width: 210px;
    height: 170px;
    margin: 5px 0 5px 10px;
}
section {
    width: 89%;
    height: 1100px;
    max-width: 880px;
    float: left;
    background-color:rgba(255, 255, 255, 0.5);
}

article {
    width: 96%;
    max-width: 700px;
    height: 950px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(255, 255, 255, 0.5);
    text-align: justify;
    line-height: 1.5em;
    padding: 20px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    overflow: auto;
    color: mediumvioletred;
}

footer {
    width: 100%;
    height: 100px;
    float: left;
    margin: 10px 0 20px 0;

}

.container {
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#menu li
{
    list-style-type:none;

}
#menu ul li a
{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px;
    display: block;
    text-align: center;
    background-color: #ccc;

}
#menu ul li a:hover
{
    background-color: peru;
    color: white;
}#menu ul ul a
{
    position: relative;
    bottom: 20px;
    left: 100%;
    display: none;
}
menu ul li:hover > ul a
{
    display: block;
}
article img
{
    float: left;
    margin-right: 20px;
    border: 2px solid mediumvioletred;
    border-radius: 10px;
}
h2
{
    text-align: center;
    color: limegreen;
}
